header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100px;
    background-color: var(--color-acento-1);
    justify-content: center;
    align-items: center;
    padding: 0 10em;
    position: relative;
}

#logo {
    display: flex;
}

#logo>a {
    text-decoration: none;
}

#logotipo {
    font-family: "Merriweather", serif;
    color: var(--color-acento-4);
    font-size: 2.5em;
    font-weight: bold;
}

#buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contenedor-buscar {
    display: flex;
    position: relative;
    width: 90%;
}

#contenedor-buscar1 {
    display: flex;
    position: relative;
    align-items: center;
    padding: 2em;
    width: 100%;
    background-color: var(--color-acento-1);
}

.buscar {
    width: 100%;
    height: 2.5em;
    padding: 0.6em 1em 0.6em 2.5em;
    outline: none;
    border: none;
    border-radius: 30px;

}

.lupa {
    position: absolute;
    width: 1.2em;
    margin-top: 0.4em;
    margin-left: 0.6em;
    cursor: pointer;
}

#navegacion {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2em;
}

.link {
    text-decoration: none;
    color: var(--fondo-blanco);
    font-family: "Oswald";
    font-size: 1.3em;
}

.hamburger {
    height: 2.5em;
    cursor: pointer;
    display: none;
    border: 2px solid var(--fondo-blanco);
    border-radius: 12px;
}

.hamburger:hover {
    background-color: black;
}

.user {
    background-color: var(--fondo-gris);
    height: 4.5em;
    border-radius: 50%;
}

.imgUser {
    height: 4.5em;
    border-radius: 50%;
}

#search {
    display: none;
}

#desplegable1 {
    height: 3em;
    position: absolute;
    top: 66px;
    width: 100%;
    clip-path: circle(0% at 100% 0);
    transition: clip-path 0.7s ease-in;
    -webkit-clip-path: circle(0% at 100% 0);
}

#desplegable2 {
    display: flex;
    padding: 2em 0;
    height: auto;
    flex-direction: column;
    position: absolute;
    right: 0;
    align-items: center;
    gap: 2em;
    top: 66px;
    width: 25%;
    border-radius: 0 0 0 12px;
    z-index: 10;
    background-color: var(--color-acento-1);
    clip-path: circle(0% at 100% 0);
    transition: clip-path 0.7s ease-in;
    -webkit-clip-path: circle(0% at 100% 0);
}

.link1 {
    text-decoration: none;
    color: var(--fondo-blanco);
    font-family: "Oswald";
    font-size: 1.3em;
}

.view {
    clip-path: circle(150% at 100% 0) !important;
    -webkit-clip-path: circle(150% at 100% 0) !important;
}

@media only screen and (max-width: 1800px) {

    header {
        grid-template-columns: 0.5fr 1fr 1.3fr;
    }

}

@media only screen and (max-width: 1700px) {

    header {
        grid-template-columns: 0.5fr 1fr 1.3fr;
    }

}

@media only screen and (max-width: 1600px) {

    header {
        grid-template-columns: 0.5fr 1fr 1.5fr;
        padding: 0 6em;
    }

}

@media only screen and (max-width: 1500px) {

    header {
        grid-template-columns: 0.5fr 1fr 1.5fr;
        padding: 0 6em;
    }

}

@media only screen and (max-width: 1500px) {

    header {
        grid-template-columns: 0.5fr 0.8fr 1.5fr;;
        padding: 0 6em;
    }

}

@media only screen and (max-width: 1300px) {

    header {
        height: auto;
        padding: 0.5em 6em;
        row-gap: 0.5em;
        grid-template-columns: 0.5fr 1fr 0.5fr;
    }

    #logo {
        justify-content: left;
    }

    #contenedor-buscar {
        width: 75%;
    }

    #navegacion {
        justify-content: end;
    }

    .link {
        display: none;
    }

    .user {
        display: none;
    }

    .hamburger {
        display: block;
    }

    #desplegable2 {

        width: 30%;

    }

}

@media only screen and (max-width: 1000px) {

    #contenedor-buscar {
        width: 75%;
    }

    header {
        padding: 0.5em 3em;
    }

    #desplegable2 {

        width: 50%;

    }

}

@media only screen and (max-width: 700px) {

    header {
        height: auto;
        row-gap: 0.5em;
        grid-template-columns: 1fr 0.2fr 0.2fr;
        padding: 0.5em 1em;
    }

    #buscador {
        justify-content: end;
    }

    #contenedor-buscar {
        width: 85%;
        display: none;

    }

    #search {
        display: block;
        cursor: pointer;
        height: 2.5em;
        border: 2px solid var(--fondo-blanco);
        border-radius: 12px;
    }

    #search:hover {
        background-color: black;
    }

    .link {
        display: none;
    }

    .hamburger {
        display: block;
    }


    #desplegable2 {
        width: 100%;
        border-radius: 0 0 0 0;

    }

}