
.contenedor-banner {
    width: 100%;
    display: flex;
    height: 700px;
    padding: 0 10em;
}

.contenedor-banner-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contenedor-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
    gap: 3em;
}

.titulo {
    font-family: "Oswald";
    font-size: 4em;
    line-height: 1em;
}

.subtitulo {
    font-family: "Lato";
    font-weight: bold;
}

.btn {
    padding: 0.5em;
    width: fit-content;
    background-color: var(--color-acento-3);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Merriweather Sans";
    font-size: 1.3em;
}

.contenedor-banner-der {
    display: flex;
    width: 50%;
    justify-content: end;
}

.imgBanner {
    height: 100%;
}

.contenedor-info {
    padding: 0 10em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 700px;
    width: 100%;   
    gap: 2em; 
    align-items: center;
    justify-items: center;
    background-color: var(--fondo-gris);
}

.contenedor-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 75%;
    clip-path: polygon(0 8%, 91% 0, 100% 91%, 8% 100%);
    background-color: var(--color-acento-2);
    color: white;
    height: 50%;
    padding: 3em 3em;
}

.card-cen {
    margin-top: 10em;
}

.texto {
    font-family: "Merriweather Sans";
    font-size: 0.9em;
}














@media only screen and (max-width: 1600px) {

    .contenedor-info {
        gap: 1em;
    }

    .contenedor-info-card {
        width: 80%;
    }

}

@media only screen and (max-width: 1500px) {

    .contenedor-banner {
        padding: 0 6em;
    }

    .contenedor-info {
        padding: 0 6em;
    }

    .imgBanner {
        width: 90%;
    }

    .contenedor-info-card {
        width: 90%;
    }

}

@media only screen and (max-width: 1300px) {
    
    .contenedor-titulo{
        width: 100%;
    }

}


@media only screen and (max-width: 1200px) {
    
    .contenedor-banner-izq {
        width: 70%;
    }

    .contenedor-banner-der {
        display: none;
    }

    .contenedor-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .contenedor-info-card {
        height: 70%;
    }

    .card-cen {
        margin-top: 0;
    }

    .card-der {
        grid-area: 2 / 1 / auto /span 2;
        width: 45%;
    }
}

@media only screen and (max-width: 1000px) {

    .contenedor-banner {
        height: auto;
        padding: 3em 3em;
    }
    
    .contenedor-banner-izq {
        width: 80%;
    }

    .contenedor-info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: auto;
        padding: 0 3em;
    }

    .contenedor-info-card {
        height: fit-content;
        width: 60%;
        padding: 4em 3em
    }

    .card-cen {
        grid-area: 2 / 1;
    }

    .card-der {
        grid-area: 3 / 1;
    }
}

@media only screen and (max-width: 800px) {

    .contenedor-banner-izq {
        width: 90%;
    }

    .contenedor-info-card {
        height: 75%;
        width:60%;
        padding: 5em 3em
    }

   
}


@media only screen and (max-width: 600px) {

    .contenedor-banner-izq {
        width: 100%;
    }

    .contenedor-info-card {
        height: 75%;
        width: 80%;
        padding: 6em 3em;
    }

   
}