.contenedor-banner {
    width: 100%;
    display: flex;
    height: 700px;
    padding: 0 10em;
}

.contenedor-banner-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contenedor-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
    gap: 3em;
}

.titulo {
    font-family: "Oswald";
    font-size: 4em;
    line-height: 1em;
}

.subtitulo {
    font-family: "Lato";
    font-weight: bold;
}

.btn {
    padding: 0.5em;
    width: fit-content;
    background-color: var(--color-acento-3);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Merriweather Sans";
    font-size: 1.3em;
}

.contenedor-banner-der {
    display: flex;
    width: 50%;
    justify-content: end;
}

.imgBanner {
    height: 100%;
}

.contenedor-info {
    display: flex;
    flex-direction: column;
    padding: 0 10em;
}

.contenedor-info-arriba>h2 {
    margin-top: 2em;
    font-size: 2em;
    font-family: "Merriweather";
}

.contenedor-info-arriba {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
    background-color: #1b403c;
    border-radius: 15px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.contenedor-info-abajo {

    border-radius: 15px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2em;
    align-items: center;
    justify-items: center;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #1b403c;
}

.contenedor-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 100%;
    height: 80%;
    color: white;
    border: 2px solid #0DFD8D;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;


}

.contenedor-info-img {
    display: flex;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(62%) sepia(69%) saturate(625%) hue-rotate(100deg) brightness(104%) contrast(97%);

}

.imgInfo {
    width: 30%;

}

.card-cen {
    margin-top: 10em;
}

.texto {
    font-family: "Merriweather Sans";
    font-size: 0.9em;
}

.contenedor-temas {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
}

.contenedor-temas-arriba {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.contenedor-temas-arriba-izq {
    display: flex;
    width: 100%;
    gap: 3em;
    justify-content: center;
    align-items: center;
    /* background-color: #0DFD8D; */
    background-color: var(--color-acento-2);
    padding: 1em 2em;
    border-radius: 15px;
    color: white;
    align-items: center;
}



.texto-temas {
    flex: 1;
    margin: 0;
}

.contenedor-texto {
    flex: 1;
}

.contenedor-temas-arriba-izq-abajo {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contenedor-temas-img {
    display: flex;
    width: 30%;
    justify-content: center;

}

.img-temas {
    width: 50%;
    height: auto;
    display: block;
}

.contenedor-temas-der {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
    padding: 1em;
}

.contenedor-temas-der-arriba {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.contenedor-temas-der-abajo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    width: 50%;
    justify-items: center;
    padding: 1em;

}

.contenedor-temas-arriba-der-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;

    border-radius: 12px;
    padding: 1em;
}

.link-temas {
    text-decoration: none;
    color: black;
    font-family: "Oswald";
    text-align: center;
    font-size: 1.2em;
}

.img-temas-der {
    width: 70px;
}







@media only screen and (max-width: 1600px) {

    .contenedor-info-abajo {
        gap: 1em;
    }

    .contenedor-info-card {
        width: 80%;
    }

}

@media only screen and (max-width: 1500px) {

    .contenedor-banner {
        padding: 0 6em;
    }

    .contenedor-info {
        padding: 0 6em;
    }

    .imgBanner {
        width: 90%;
    }

    .contenedor-info-card {
        width: 90%;
    }

}

@media only screen and (max-width: 1300px) {

    .contenedor-titulo {
        width: 100%;
    }

}


@media only screen and (max-width: 1200px) {

    .contenedor-banner {
        height: 500px;
    }

    .contenedor-banner-izq {
        width: 70%;
    }

    .contenedor-banner-der {
        display: none;
    }

    .contenedor-info-arriba {
        margin-top: 0;
        padding-bottom: 4em;
    }

    .contenedor-info-abajo {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2em;
    }

    .contenedor-info-card {
        height: 100%;
        padding: 1em;
    }

    .card-cen {
        margin-top: 0;
    }

    .card-der {
        grid-area: 2 / 1 / auto /span 2;
        width: 45%;
    }

    .contenedor-temas-arriba {
        flex-direction: column;
        align-items: center;
    }

    .contenedor-temas-der {
        width: 100%;
        align-items: center;
        margin-bottom: 4em;
    }

    .contenedor-temas-der-arriba {
        align-items: center;
    }

    .contenedor-temas-arriba-izq {
        width: 100%;
        align-items: center;
    }



    .contenedor-temas-arriba-izq-abajo {
        align-items: center;
    }

    .texto-temas {
        width: 70%;
    }

    .contenedor-temas-der-abajo {
        width: 80%;
    }


}

@media only screen and (max-width: 1000px) {

    .contenedor-banner {
        height: auto;
        padding: 3em 3em;
    }

    .contenedor-info {
        display: flex;
        flex-direction: column;
        padding: 0 3em;
    }

    .contenedor-banner-izq {
        width: 80%;
    }

    .contenedor-info-abajo {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: auto;
        gap: 3em;
    }

    .contenedor-info-card {
        height: fit-content;
        width: 60%;
        padding: 2em 2em
    }

    .card-cen {
        grid-area: 2 / 1;
    }

    .card-der {
        grid-area: 3 / 1;
    }

    .texto-temas {
        width: 70%;
    }

    .contenedor-temas-der-abajo {
        width: 80%;
    }

    .conLinea {
        border-top: 2px solid white;
        padding-top: 2em;
    }

    .contenedor-temas-arriba-izq {
        flex-direction: column;
        align-items: center;
    }

}



@media only screen and (max-width: 800px) {

    .contenedor-banner-izq {
        width: 90%;
    }

    .contenedor-info-card {
        height: 100%;
        width: 60%;
    }

    .texto-temas {
        width: 80%;
    }

    .contenedor-temas-der-abajo {
        width: 90%;
    }


}


@media only screen and (max-width: 600px) {

    .contenedor-banner-izq {
        width: 100%;
    }

    .contenedor-info-card {
        height: 100%;
        width: 80%;
    }

    .texto-temas {
        width: 100%;
    }

    .contenedor-temas-der-abajo {
        width: 100%;
    }

    .contenedor-temas-der-abajo {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
    }


}