body{
    height: 98vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#183F8C ;
}

main{
    outline: 1px solid gray;
    display: flex;
    width: 70vw;
    height: 70vh;
    background-color: rgb(242, 242, 242);
}

article{
    width: 50%;
}

#article-background{
    background: url(../img/login.jpg);
    background-position: center;
    background-size: cover;
}


#section-icon-formar{
    height: 25%;
    background: url(../img/formAr.png);
    background-position: center;
    background-size: cover;
}

#section-icon-login{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-div{
    
}

#section-div-iniciarSesion{
}
#section-div-iniciarSesion h1{
    padding-left: 1.5em;
    font-size: 2em;
    font-family: "Oswald";
}

#section-div-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
#section-div-inputs input{
    font-family: "Merriweather Sans";
    width: 90%;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid #183F8C;
    padding:.7em;
    padding-left: 1em;
    background: none;
    margin: .5em 0;
}

#section-div-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    align-self: center;
    padding: 1em;
}
#section-div-div-remember{
    display: flex;
    align-items: center;
    width: 90%;
    font-family: "Lato";
}

#section-div-div-remember input{
    margin-right: 1em;
}

#section-div-div-login{
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1em 0 ;
}
#section-div-div-login button{
    width: 100%;
    font-size: 1.2em;
    border: 1px solid grey;
    color: white;
    background: #183F8C;
    border-radius: 3em;
    font-family: "Merriweather Sans";
    padding: .7em;
}

#section-div-div-enlaces{
    display: flex;
    flex-direction: column;
}
#section-div-div-enlaces div {
    margin: .75em 0;
}


#section-div-div-resetPassword a{
    text-decoration: none;
    margin: 1em 0 ;
    font-family: "Lato";
        font-weight: 600;
    color: #1B403C;

}
#section-div-div-register a{
    text-decoration: none;
    margin: 1em 0 ;
    font-family: "Lato";
    font-weight: 600;
    color: #1B403C;

}

#button-login:active{
    background-color: #183f8cd9;
}