html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#body{
    background-color: var(--fondo-gris);
}

img {
    max-width: 100%;
    height: auto;
}

div {
    min-width: 0;
    height: auto;
}

#contenidoDePagina{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#profile_card{
    background-color: var(--color-acento-2);
    color: var(--fondo-blanco);
    border-radius: 0.5rem;
    height: auto;
    width: 100%;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profile_card a:link, a:visited {
    color: white;
    text-decoration: none;
}

#profile_card a:hover {
    color: white;
    text-decoration: none;
}

#imagenDePerfil{
    width: 8em;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 0.2em;
    background-color: var(--fondo-blanco);
}

#userData{
    display: flex;
    gap: 1em;
    align-items: center;
}

#tituloDeUsuario{
    display: flex;
    margin-bottom: 0.5em;
}

#tituloDeUsuario h2{
    font-family: "Merriweather Sans";
}

#tituloDeUsuario div{
    background-color: var(--color-acento-4);
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: black;
    font-family: "Oswald";
    font-size: medium;
    margin-left: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#ubicacionDeUsuario{
    display: flex;
}

#paisDeUsuario{
    margin-left: 0.3em;
}

#userData h4 {
    margin-bottom: 0.5em;
    font-family: "Lato";
    font-size: small;
}

#muestraLogros{
    background-color: var(--color-acento-3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Lato";
    font-size: medium;
    height: auto;
    max-width: 100%;
}

#muestraLogros h3{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

#logroBox{
    padding: 0.5em;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    gap: 0.5em;
    overflow-x: auto;
}

.logroIcon{
    height: 2.5em;
    width: auto;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 0.1em;
}

#ContenedorDeBotonLogro{
    padding: 0 1em;
}

#botonDeLogros{
    height: 100%;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    transition: all 0.3s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 2px;
    border-left-style: solid;
    border-left-color: var(--color-acento-2);
}

#botonDeLogros div{
    color: var(--fondo-blanco);
    padding: 0.5em;
    margin-left: 0.2em;
    font-size: large;
    height: 100%;
    display: flex;
    align-items: center;
}

#botonDeLogros:hover{
    color: white;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#botonesLadoDerecho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#botonesLadoDerecho a {
    display: flex;
    height: 2em;
    width: 8em;
    padding: 0.4em;
    background-color: var(--color-acento-3);
    border-radius: 5px;
    font-family: "Lato";
    font-size: small;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
    transition: all 0.3s ease;
}

#botonesLadoDerecho a:hover{
    color: white;
    text-decoration: none;
}

#botonesLadoDerecho a img {
margin-right: 0.3em;
margin-left: 0%;
}

/*Caja de rachas*/

#rachaDeTarjetas{
    /*color: white;*/
    background-color: var(--fondo-blanco);
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.tituloDeSeccion{
    background-color: var(--fondo-blanco);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.5em;
    padding-top: 1.5em;
    font-family: "Merriweather Sans";
}

#contenidoDeRacha{
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 6em;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#rachaActual{
    text-align: center;
    font-family: "Lato";
    font-size: medium;
    /*color: var(--fondo-blanco);*/
}

#calendarioDeRachas{
    display: flex;
    justify-content: space-around;
    width: 20em;
    font-family: "Lato";
}

.diaDeRacha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.diaDeRacha img{
    height: 1.8em;
    margin-bottom: 0.5em;
}

.diaDeRacha h4{
    text-align: center;
    font-size: large;
}

#diasDeRacha{
    font-family: "Oswald";
    color: orangered;
    font-size: larger;
}

/*progreso Y Actividad Reciente*/

#progresoYActividadReciente{
    /*color: white;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.contenedores_pYa{
    background-color: var(--fondo-blanco);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

#selectorFiltro{
    display: flex;
    height: 2em;
    width: 8em;
    padding: 0 1em;
    color: var(--fondo-blanco);
    background-color: var(--color-acento-3);
    border: none;
    border-radius: 5px;
    font-family: "Lato";
    font-size: small;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease;
}

#selectorFiltro:hover{
    text-decoration: none;
}

.contenido_pYa{
    margin-top: 0.7em;
    padding: 0 18em;
    padding-bottom: 1.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.contenido_pYa a{
    margin-left: auto;
    text-decoration: none;
    height: 2em;
    padding: 0.4em;
    color: #5e6774;
    border-radius: 5px;
    font-family: "Lato";
    font-size: small;
    text-align: center;
    justify-content: center;
    margin-bottom: 0.5em;
    transition: all 0.3s ease;
    font-size: medium;
}

.contenido_pYa a:hover{
    color: black;
}

.progresoTema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0.3em 0;
    margin: 0.2em 0;
    max-width: 100%
}

.TemaYporcentaje{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2em;
    font-family: "Lato";
}

.barraDeProgreso{
    background-color: var(--color-acento-1);
    border-radius: 15px;
    width: 100%;
    height: 1em;
    display: flex;
}

.barraDeProgreso div{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--color-acento-4);
}

#progresoActual1{
    width: 68%;
}

#progresoActual2{
    width: 27%;
}
#progresoActual3{
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#progresoActual4{
    width: 10%;
}

#progresoActual5{
    width: 32%;
}

#progresoActual6{
    width: 67%;
}

.cajaDeActividad{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--fondo-gris);
    max-width: 100%;
}

.tituloDeActividad{
    display: flex;
    justify-content: space-between;
    font-family: "Lato";
}

/*Resumen General*/

#resumenGeneral{
    border-radius: 0.5rem;
    background-color: var(--fondo-blanco);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

#contenidoDeResumenGeneral{
    
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1.5em 18em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 0;
    box-sizing: border-box;
}

.cajasDeTextoResumen{
     display: flex;
    flex: 1;
    justify-content: space-between;
    font-family: "Lato";
    font-size: medium;
    max-width: 100%
}

h4 img{
    height: 1em;
    padding-right: 0.2em;
    width: auto;
    vertical-align: middle;
}

/*RESPONSIVE*/
/* MOBILE*/
@media (max-width: 768px) {
    #profile_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1em;
    }

    #imagenDePerfil {
        width: 8em;
    }

    #datosDePerfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #userData{
        display: flex;
        flex-direction: column;
    }

    #userData h4 {
        text-align: center;
    }

    #tituloDeUsuario{
        display: flex;
        align-items: center;
    }

    #muestraLogros{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: small;
    }

    #botonDeLogros{
        border-radius: 0.5rem;
        border: 2px;
        border-style: solid;
        border-color: var(--color-acento-2);
        height: 2em;
        margin-bottom: 1em;
    }

    #botonesLadoDerecho{
        height: auto;
        margin-bottom: 0;
    }

    #botonesLadoDerecho div{
        display: flex;
        gap: 1em;
    }

    #botonesLadoDerecho a{
        display: flex;
        flex-direction: row;
    }

    .contenido_pYa{
        flex-direction: column; /* deja columna en mobile */
        padding: 0 1em; /* padding reducido */
        padding-bottom: 1em;
        gap: 0.5em;
    }

    .progresoTema,
    .cajaDeActividad {
        width: 100%;
    }

    .tituloDeSeccion{
        padding: 1em 2em
    }
    #contenidoDeResumenGeneral{
        padding: 0 5em;
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: row wrap; /* o row wrap si querés que se ajusten */
        flex-wrap: wrap;
        gap: 0.5em;
        padding: 1em; /* padding reducido */
    }

    .cajasDeTextoResumen {
        flex: 1 1 45%; /* ancho flexible, se adapta al contenedor */
        margin-bottom: 0.5em;
    }
}

/*TABLETS*/
@media (max-width: 1024px) {
    #profile_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1em;
    }

    #imagenDePerfil {
        width: 8em;
    }

    #datosDePerfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #userData{
        display: flex;
        flex-direction: column;
    }

    #userData h4 {
        text-align: center;
    }

    #tituloDeUsuario{
        display: flex;
        align-items: center;
    }

    #muestraLogros{
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
    }

    #botonesLadoDerecho{
        height: auto;
        margin-bottom: 0;
    }

    #botonesLadoDerecho div{
        display: flex;
        gap: 1em;
    }

    #botonesLadoDerecho a{
        display: flex;
        flex-direction: row;
    }

    .contenido_pYa{
        flex-direction: column; /* deja columna en mobile */
        padding: 0 1em; /* padding reducido */
        padding-bottom: 1em;
        gap: 0.5em;
    }

    .progresoTema,
    .cajaDeActividad {
        width: 100%;
    }

    .tituloDeSeccion{
        padding: 1em 2em
    }
    #contenidoDeResumenGeneral{
        padding: 0 5em;
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: row wrap; /* o row wrap si querés que se ajusten */
        flex-wrap: wrap;
        gap: 0.5em;
        padding: 1em; /* padding reducido */
    }

    .cajasDeTextoResumen {
        flex: 1 1 45%; /* ancho flexible, se adapta al contenedor */
        margin-bottom: 0.5em;
    }
}