body{
    height: 98vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-acento-2); ;
}

main{
    outline: 1px solid gray;
    display: flex;
    width: 70vw;
    height: 70vh;
    background-color: rgb(242, 242, 242);
}

article{
    width: 50%;
}

#article-background{
    background: url(../img/register.jpg);
    background-position: center;
    background-size: cover;
}


#section-icon-formar{
    height: 25%;
    background: url(../img/formAr.png);
    background-position: center;
    background-size: cover;
}

#section-icon-login{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-div{
    
}

#section-div-iniciarSesion{
}
#section-div-iniciarSesion h1{
    padding-left: 1.5em;
    font-size: 2em;
    font-family: "Oswald";
}

#section-div-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 1em; 
}

#section-div-inputs input{
    font-family: "Merriweather Sans";
    font-size: 1.1em; 
    border: none;
    border-bottom: 1px solid #183F8C;
    padding:.6em; 
    padding-left: 1em;
    background: none;
    box-sizing: border-box;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: .4em 0; 
}

.input-row input {
    width: 48%;
    margin: 0;
}

#section-div-inputs > input {
    width: 90%;
    margin: .4em 0; 
}


#section-div-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    align-self: center;
    padding: 0.5em 1em; 
}

#section-div-div-login{
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: .5em 0 ; 
}
#section-div-div-login button{
    width: 100%;
    font-size: 1.2em;
    border: 1px solid grey;
    color: white;
    background: var(--color-acento-1);
    border-radius: 3em;
    font-family: "Merriweather Sans";
    padding: .7em;
    cursor: pointer;
}

#section-div-div-enlaces{
    display: flex;
    flex-direction: column;
}
#section-div-div-enlaces div {
    margin: .5em 0;
}


#section-div-div-gotoLogin a{
    text-decoration: none;
    margin: .5em 0 ;
    font-family: "Lato";
    font-weight: 600;
    color: #1B403C;

}

#button-register:active{
    background-color: var(--color-acento-1);
}

@media (max-width: 1024px) {
    main {
        width: 90vw; 
        height: 80vh;
    }
}

@media (max-width: 768px) {
    
    body {
        height: auto; 
        min-height: 100vh;
        padding: 20px 0;
    }

    main {
        width: 90vw;
        height: auto; 
        min-height: 60vh;
        border-radius: 10px; 
        flex-direction: column; 
    }

    article {
        width: 100%;
    }
    #article-background {
        display: none; 
    }
    

    #section-icon-formar {
        height: 120px; 
        background-repeat: no-repeat;
        margin-top: 1em;
    }

    #section-icon-login {
        height: auto; 
        padding-bottom: 2em;
    }

    #section-div-iniciarSesion h1 {
        padding-left: 0;
        text-align: center; 
        font-size: 1.8em;
    }

    .input-row {
        flex-direction: column; 
        width: 90%;
        margin: 0;
    }

    .input-row input {
        width: 100%; 
        margin-bottom: 1em; 
    }

    #section-div-inputs > input {
        width: 90%;
        margin-bottom: 0.5em;
    }

    #section-div-actions {
        margin-top: 1em;
    }
    
    #section-div-div-login button {
        padding: 1em; 
    }
}